32[[:space:]]-[[:space:]]fcae213.pdf filter=lfs diff=lfs merge=lfs -text
34[[:space:]]-[[:space:]]arenson-et-al-2024-understanding-racial-disparities-in-dementia-prevalence-among-veterans.pdf filter=lfs diff=lfs merge=lfs -text
47[[:space:]]-[[:space:]]xi-et-al-2024-can-early-gut-microbiota-screening-reduce-the-incidence-of-cognitive-impairment-a-mendelian-randomization.pdf filter=lfs diff=lfs merge=lfs -text
18[[:space:]]-[[:space:]]Alzheimer[[:space:]]s[[:space:]][[:space:]][[:space:]]Dementia[[:space:]]-[[:space:]]2023[[:space:]]-[[:space:]]Pourhadi[[:space:]]-[[:space:]]Proton[[:space:]]pump[[:space:]]inhibitors[[:space:]]and[[:space:]]dementia[[:space:]][[:space:]]A[[:space:]]nationwide[[:space:]]population‐based[[:space:]]study.pdf filter=lfs diff=lfs merge=lfs -text
43[[:space:]]-[[:space:]]s41591-024-03209-x.pdf filter=lfs diff=lfs merge=lfs -text
67[[:space:]]-[[:space:]]Early-life[[:space:]]cumulative[[:space:]]exposure[[:space:]]to[[:space:]]excess[[:space:]]bodyweight[[:space:]]and[[:space:]]midlife[[:space:]]cognitive[[:space:]]function[[:space:]]_[[:space:]]longitudinal[[:space:]]analysis[[:space:]]in[[:space:]]three[[:space:]]British[[:space:]]birth[[:space:]]cohorts.pdf filter=lfs diff=lfs merge=lfs -text
86[[:space:]]-[[:space:]]Memory[[:space:]]complaint[[:space:]]in[[:space:]]a[[:space:]]middle-income[[:space:]]country[[:space:]]_[[:space:]]a[[:space:]]four-year[[:space:]]longitudinal[[:space:]]study[[:space:]]in[[:space:]]a[[:space:]]cohort[[:space:]]with[[:space:]]low-education.pdf filter=lfs diff=lfs merge=lfs -text
115[[:space:]]-[[:space:]]fcae083.pdf filter=lfs diff=lfs merge=lfs -text
59[[:space:]]-[[:space:]]brainsci-14-00170.pdf filter=lfs diff=lfs merge=lfs -text
64[[:space:]]-[[:space:]]Alzheimer[[:space:]]s[[:space:]][[:space:]][[:space:]]Dementia[[:space:]]-[[:space:]]2024[[:space:]]-[[:space:]]Charisis[[:space:]]-[[:space:]]Leptin[[:space:]]bioavailability[[:space:]]and[[:space:]]markers[[:space:]]of[[:space:]]brain[[:space:]]atrophy[[:space:]]and[[:space:]]vascular[[:space:]]injury[[:space:]]in[[:space:]]the.pdf filter=lfs diff=lfs merge=lfs -text
100[[:space:]]-[[:space:]]e20230112DOSE.pdf filter=lfs diff=lfs merge=lfs -text
112[[:space:]]-[[:space:]]11357_2023_Article_994.pdf filter=lfs diff=lfs merge=lfs -text
30[[:space:]]-[[:space:]]s41997-024-00920-7.pdf filter=lfs diff=lfs merge=lfs -text
60[[:space:]]-[[:space:]]jad%2F2024%2F98-1%2Fjad-98-1-jad231116%2Fjad-98-jad231116.pdf filter=lfs diff=lfs merge=lfs -text
65[[:space:]]-[[:space:]]1-s2.0-S2590109524000314-main.pdf filter=lfs diff=lfs merge=lfs -text
71[[:space:]]-[[:space:]]1-s2.0-S2589537024003894-main.pdf filter=lfs diff=lfs merge=lfs -text
109[[:space:]]-[[:space:]]s12889-024-18478-x.pdf filter=lfs diff=lfs merge=lfs -text
20[[:space:]]-[[:space:]]med3789.pdf filter=lfs diff=lfs merge=lfs -text
44[[:space:]]-[[:space:]]cai_2024_oi_240718_1720040123.60192.pdf filter=lfs diff=lfs merge=lfs -text
5[[:space:]]-[[:space:]]Alzheimer[[:space:]]s[[:space:]][[:space:]][[:space:]]Dementia[[:space:]]-[[:space:]]2024[[:space:]]-[[:space:]]Xiao[[:space:]]-[[:space:]]Significance[[:space:]]of[[:space:]]plasma[[:space:]]p‐tau217[[:space:]]in[[:space:]]predicting[[:space:]]long‐term[[:space:]]dementia[[:space:]]risk[[:space:]]in[[:space:]]older.pdf filter=lfs diff=lfs merge=lfs -text
57[[:space:]]-[[:space:]]wei-et-al-2024-modifiable-and-non-modifiable-risk-factors-for-dementia-among-non-hispanic-white-and-black-populations.pdf filter=lfs diff=lfs merge=lfs -text
61[[:space:]]-[[:space:]]Alzheimer[[:space:]]s[[:space:]][[:space:]][[:space:]]Dementia[[:space:]]-[[:space:]]2024[[:space:]]-[[:space:]]Wang[[:space:]]-[[:space:]]Associations[[:space:]]of[[:space:]]semaglutide[[:space:]]with[[:space:]]first‐time[[:space:]]diagnosis[[:space:]]of[[:space:]]Alzheimer[[:space:]]s[[:space:]]disease[[:space:]]in.pdf filter=lfs diff=lfs merge=lfs -text
79[[:space:]]-[[:space:]]association-of-alcohol-consumption-with-cognition-and-functionality-in-older-adults-aged-75-years-the-pieta-study.pdf filter=lfs diff=lfs merge=lfs -text
8[[:space:]]-[[:space:]]1-s2.0-S0033350624001653-main.pdf filter=lfs diff=lfs merge=lfs -text
108[[:space:]]-[[:space:]]s41398-024-03125-1.pdf filter=lfs diff=lfs merge=lfs -text
10[[:space:]]-[[:space:]]prevalence_of_cognitive_impairment_and_its.26.pdf filter=lfs diff=lfs merge=lfs -text
117[[:space:]]-[[:space:]]Patterns[[:space:]]of[[:space:]]Depressive[[:space:]]Symptoms[[:space:]]on[[:space:]]Cognitive[[:space:]]Function[[:space:]]Decline_[[:space:]]An[[:space:]]Investigation[[:space:]]in[[:space:]]Middle-Aged[[:space:]]Koreans[[:space:]]Based[[:space:]]on[[:space:]]the[[:space:]]Korean[[:space:]]Longitudinal[[:space:]]Study[[:space:]]of[[:space:]]Aging[[:space:]](KLoSA).pdf filter=lfs diff=lfs merge=lfs -text
17[[:space:]]-[[:space:]]jpad.2024.105.pdf filter=lfs diff=lfs merge=lfs -text
87[[:space:]]-[[:space:]]Rural-urban[[:space:]]disparities[[:space:]]in[[:space:]]fruit[[:space:]]and[[:space:]]vegetable[[:space:]]consumption[[:space:]]and[[:space:]]cognitive[[:space:]]performance[[:space:]]in[[:space:]]Brazil.pdf filter=lfs diff=lfs merge=lfs -text
106[[:space:]]-[[:space:]]s13195-024-01592-8.pdf filter=lfs diff=lfs merge=lfs -text
113[[:space:]]-[[:space:]]CNS-30-e70057.pdf filter=lfs diff=lfs merge=lfs -text
13[[:space:]]-[[:space:]]s12889-024-19630-3.pdf filter=lfs diff=lfs merge=lfs -text
80[[:space:]]-[[:space:]]Five[[:space:]]Digit[[:space:]]Test[[:space:]]in[[:space:]]neuropsychological[[:space:]]assessment[[:space:]]of[[:space:]]working[[:space:]]memory[[:space:]]in[[:space:]]aged[[:space:]]individuals[[:space:]]_[[:space:]]normative[[:space:]]data.pdf filter=lfs diff=lfs merge=lfs -text
51[[:space:]]-[[:space:]]PIIS2666756824000059.pdf filter=lfs diff=lfs merge=lfs -text
45[[:space:]]-[[:space:]]s40120-024-00666-x.pdf filter=lfs diff=lfs merge=lfs -text
92[[:space:]]-[[:space:]]PIIS2666606524000452.pdf filter=lfs diff=lfs merge=lfs -text
119[[:space:]]-[[:space:]]migraine-association-with-alzheimers-disease-risk-evidence-from-the-uk-biobank-cohort-study-and-mendelian-randomization.pdf filter=lfs diff=lfs merge=lfs -text
11[[:space:]]-[[:space:]]PIIS2666606524001007.pdf filter=lfs diff=lfs merge=lfs -text
58[[:space:]]-[[:space:]]s13148-024-01672-4.pdf filter=lfs diff=lfs merge=lfs -text
82[[:space:]]-[[:space:]]Plasma[[:space:]]ADAM10[[:space:]]Levels[[:space:]]and[[:space:]]Their[[:space:]]Association[[:space:]]with[[:space:]]Alzheimer’s[[:space:]]Disease[[:space:]]Diagnosis[[:space:]]in[[:space:]]Older[[:space:]]Adults[[:space:]]with[[:space:]]Fewer[[:space:]]Years[[:space:]]of[[:space:]]Formal[[:space:]]Education.pdf filter=lfs diff=lfs merge=lfs -text
89[[:space:]]-[[:space:]]Monitoring[[:space:]]risk[[:space:]]factors[[:space:]]for[[:space:]]dementia[[:space:]]in[[:space:]]middle-aged[[:space:]]and[[:space:]]older[[:space:]]adults[[:space:]]_[[:space:]]a[[:space:]]longitudinal[[:space:]]study.pdf filter=lfs diff=lfs merge=lfs -text
116[[:space:]]-[[:space:]]s41398-024-02927-7.pdf filter=lfs diff=lfs merge=lfs -text
122[[:space:]]-[[:space:]]s11357-024-01224-x.pdf filter=lfs diff=lfs merge=lfs -text
31[[:space:]]-[[:space:]]zpae077.pdf filter=lfs diff=lfs merge=lfs -text
41[[:space:]]-[[:space:]]jamaneurology_nguyen_ho_2024_oi_240035_1723221544.44987.pdf filter=lfs diff=lfs merge=lfs -text
73[[:space:]]-[[:space:]]Alzheimer[[:space:]]s[[:space:]][[:space:]][[:space:]]Dementia[[:space:]]-[[:space:]]2024[[:space:]]-[[:space:]]Borland[[:space:]]-[[:space:]]Individualized[[:space:]][[:space:]]cross%E2%80%90validated[[:space:]]prediction[[:space:]]of[[:space:]]future[[:space:]]dementia[[:space:]]using[[:space:]]cognitive.pdf filter=lfs diff=lfs merge=lfs -text
105[[:space:]]-[[:space:]]s12916-024-03418-8.pdf filter=lfs diff=lfs merge=lfs -text
36[[:space:]]-[[:space:]]jmir-2024-1-e49794.pdf filter=lfs diff=lfs merge=lfs -text
38[[:space:]]-[[:space:]]PIIS2214109X24002754.pdf filter=lfs diff=lfs merge=lfs -text
46[[:space:]]-[[:space:]]1-s2.0-S2212877824001273-main.pdf filter=lfs diff=lfs merge=lfs -text
83[[:space:]]-[[:space:]]Accuracy[[:space:]]of[[:space:]]the[[:space:]]revised[[:space:]]Addenbrooke[[:space:]]Cognitive[[:space:]]Examination[[:space:]](ACE-R)[[:space:]]in[[:space:]]older[[:space:]]adults[[:space:]]with[[:space:]]low[[:space:]]education[[:space:]]and[[:space:]]mild[[:space:]]cognitive[[:space:]]impairment[[:space:]]_[[:space:]]results[[:space:]]of[[:space:]]a[[:space:]]cross-sectional[[:space:]]study[[:space:]]in[[:space:]]two[[:space:]]metropolitan[[:space:]]areas[[:space:]]of[[:space:]]Northeast[[:space:]]Brazil.pdf filter=lfs diff=lfs merge=lfs -text
14[[:space:]]-[[:space:]]fnagi-16-1381692.pdf filter=lfs diff=lfs merge=lfs -text
26[[:space:]]-[[:space:]]zsad302.pdf filter=lfs diff=lfs merge=lfs -text
35[[:space:]]-[[:space:]]s12916-024-03424-w.pdf filter=lfs diff=lfs merge=lfs -text
37[[:space:]]-[[:space:]]ENEURO.0118-24.2024.full.pdf filter=lfs diff=lfs merge=lfs -text
56[[:space:]]-[[:space:]]fneur-15-1401880.pdf filter=lfs diff=lfs merge=lfs -text
68[[:space:]]-[[:space:]]Alzheimer[[:space:]]s[[:space:]][[:space:]][[:space:]]Dementia[[:space:]]-[[:space:]]2024[[:space:]]-[[:space:]]Huh[[:space:]]-[[:space:]]General[[:space:]]cognitive[[:space:]]ability[[:space:]]in[[:space:]]high[[:space:]]school[[:space:]][[:space:]]attained[[:space:]]education[[:space:]][[:space:]]occupational[[:space:]]complexity.pdf filter=lfs diff=lfs merge=lfs -text
93[[:space:]]-[[:space:]]Alz[[:space:]][[:space:]][[:space:]]Dem[[:space:]]Diag[[:space:]]Ass[[:space:]][[:space:]][[:space:]]Dis[[:space:]]Mo[[:space:]]-[[:space:]]2024[[:space:]]-[[:space:]]Medel[[:space:]]-[[:space:]]Cochlear[[:space:]]dysfunction[[:space:]]as[[:space:]]an[[:space:]]early[[:space:]]biomarker[[:space:]]of[[:space:]]cognitive[[:space:]]decline[[:space:]]in[[:space:]]normal.pdf filter=lfs diff=lfs merge=lfs -text
12[[:space:]]-[[:space:]]s12916-024-03464-2.pdf filter=lfs diff=lfs merge=lfs -text
25[[:space:]]-[[:space:]]genes-15-00153.pdf filter=lfs diff=lfs merge=lfs -text
28[[:space:]]-[[:space:]]igae025.pdf filter=lfs diff=lfs merge=lfs -text
33[[:space:]]-[[:space:]]journal.pone.0301979.pdf filter=lfs diff=lfs merge=lfs -text
120[[:space:]]-[[:space:]]s12877-024-05054-6.pdf filter=lfs diff=lfs merge=lfs -text
16[[:space:]]-[[:space:]]s12877-024-04675-1.pdf filter=lfs diff=lfs merge=lfs -text
62[[:space:]]-[[:space:]]danish-et-al-2024-intersections-of-modifiable-risks-loneliness-is-associated-with-poor-subjective-sleep-quality-in.pdf filter=lfs diff=lfs merge=lfs -text
78[[:space:]]-[[:space:]]Episodic[[:space:]]memory[[:space:]]improvement[[:space:]]in[[:space:]]illiterate[[:space:]]adults[[:space:]]attending[[:space:]]late-life[[:space:]]education[[:space:]]irrespective[[:space:]]of[[:space:]]low[[:space:]]socioeconomic[[:space:]]status-[[:space:]]insights[[:space:]]from[[:space:]]the[[:space:]]PROAME[[:space:]]study.pdf filter=lfs diff=lfs merge=lfs -text
54[[:space:]]-[[:space:]]Alzheimer[[:space:]]s[[:space:]][[:space:]][[:space:]]Dementia[[:space:]]-[[:space:]]2023[[:space:]]-[[:space:]]Brady[[:space:]]-[[:space:]]Sex[[:space:]]and[[:space:]]gender[[:space:]]differences[[:space:]]in[[:space:]]risk[[:space:]]scores[[:space:]]for[[:space:]]dementia[[:space:]]and[[:space:]]Alzheimer[[:space:]]s[[:space:]]disease.pdf filter=lfs diff=lfs merge=lfs -text
55[[:space:]]-[[:space:]]J[[:space:]]American[[:space:]]Geriatrics[[:space:]]Society[[:space:]]-[[:space:]]2024[[:space:]]-[[:space:]]Apostolou[[:space:]]-[[:space:]]Alzheimer[[:space:]]s[[:space:]]disease[[:space:]]and[[:space:]]related[[:space:]]dementia[[:space:]]diagnoses[[:space:]]among[[:space:]]American[[:space:]]Indian.pdf filter=lfs diff=lfs merge=lfs -text
29[[:space:]]-[[:space:]]000536524.pdf filter=lfs diff=lfs merge=lfs -text
2[[:space:]]-[[:space:]]dc231524.pdf filter=lfs diff=lfs merge=lfs -text
49[[:space:]]-[[:space:]]besser-et-al-2024-intersectionality-of-gender-with-social-determinants-of-health-and-asymptomatic-alzheimer-s-disease.pdf filter=lfs diff=lfs merge=lfs -text
52[[:space:]]-[[:space:]]aerobic_exercise_training_for_the_aging_brain_.5.pdf filter=lfs diff=lfs merge=lfs -text
